body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('https://media.giphy.com/media/1lRrsraIsEYRW/giphy.gif');
  background-size:cover;
  background-position: absolute;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addWhiteDot, .birdButton, .cloudButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.cat{
  max-width: 100px;
  max-height: 200px;
  position:absolute;
}
.dog{
  max-width: 100px;
  max-height: 200px;
  position:absolute;
}
.bird{
  width: 100 px;
  height: 150px;
  position: absolute;
}
.bird:hover {  
  transition: 1.70s;
  -webkit-transition: 1.70s;
  -webkit-transform: rotate(360deg);
/*  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);*/
  transform: rotate(360deg);
  
}








