body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JETFf6K/disco-dance-floor-wall-b02f-4k_v2uoablpe__F0000.png');
  background-size:cover;
  background-position: absolute;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addWhiteDot{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.cat{
  max-width: 100px;
  max-height: 200px;
  position:absolute;
}
.dog{
  max-width: 100px;
  max-height: 200px;
  position:absolute;
}